{% extends "base.html" %}

{% block title %}所有標記{% endblock %}

{% block markDropdown %}
	<li class="active dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">標記管理<span class="caret"></span></a>
	  <ul class="dropdown-menu" role="menu" class="active">
	    <li><a href="/mark/add">新增標記</a></li>
	    <li class="active"><a href="/mark/all">所有標記</a></li>
	    <li><a href="#">Something else here</a></li>
	    <li class="divider"></li>
	    <li><a href="#">Separated link</a></li>
	    <li class="divider"></li>
	    <li><a href="#">One more separated link</a></li>
	  </ul>
	</li>
{% endblock %}
{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">排序</h3>
		</div>
		<div class="panel-body">
			<div class="btn-group" role="group" aria-label="Default button group">
		      <button type="button" onclick="orderBy('title')" class="btn btn-info" id="ordByTitBtn">依標題排序</button>
		      <button type="button" onclick="orderBy('latitude')" class="btn btn-info" id="ordByLatiBtn">依緯度排序</button>
		      <button type="button" onclick="orderBy('longitude')" class="btn btn-info" id="ordByLongiBtn">依經度排序</button>
		    </div>
		</div>
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">所有標記</h3>
		</div>
		<div class="panel-body">
			<table class="table table-hover">
				<thead>
			        <tr>
			          <th>標記名稱</th>
			          <th>標記內容</th>
			          <th>緯度</th>
			          <th>經度</th>
			        </tr>
			    </thead>
			    <tbody>
			    	<div id="queryResult"></div>
			    </tbody>
			</table>
			<div id="resultTable"></div>
		</div>
	</div>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		var myFirebaseRef = new Firebase('https://amber-torch-4664.firebaseio.com/Mark');
		function orderBy(childName) {
			myFirebaseRef.orderByChild(childName).once("value", function(snapshot, prevChildKey) {
				var mark = snapshot.val();
				//var numOfMarks = snapshot.numChildren();
				var result = "";
				console.log(mark.title);
				/**for (var i = 0; i < numOfMarks; i++) {
					console.log(mark.title);
					result += displayMark(prevChildKey, mark.title, mark.context, mark.latitude, mark.longitude);
				}	*/
				document.getElementById("queryResult").innerHTML = result;
			});
		}
		
		/**myFirebaseRef.orderByChild("longitude").equalTo(121.5).on("child_added", function(snapshot) {
			var mark = snapshot.val();
			displayMark(mark.title, mark.context, mark.latitude, mark.longitude);
		});*/

		function displayMark(prevKey, title, context, latitude, longitude) {
			result = "<tr><td>" + title + "</td><td>" + context + "</td><td>" + latitude + "</td><td>" + longitude + "</td></tr>";
			//console.log(title);
			return result;
		}
	</script>
{% endblock %}